#wrap{
width: 960px;
height: 100%;
margin:0 auto;
}

a:link { 
color: white; 
background-color: red;
text-decoration: none;
border: 1px solid white;
padding: 3px;


}
a:visited { 
color: white; 
background-color: red;
text-decoration: none;
border: 1px solid white;
padding: 3px;

}

a:hover {
color: black; 
background-color: white;
text-decoration: none;
border: 2px solid black; 
padding: 3px;
} 

li {
margin-bottom: 10px;
}

body{
background-color: grey;
}

h1{
color: white;
text-align: center;
font-size: 3rem;
margin-top: 1px;
}


.box{
margin-bottom: 1%;
width: 100%;
float: left;
}

#box1{
background-color: #990000;
width: 960px;
height: 65px;
margin: 0 auto;
margin-bottom: 1%;
}


#wrap #box2 #sidebar{
background-color: #990000;
width: 24.0%;
height: 200px;
float: left;
}

#wrap #box2 #bigbox{
background-color: #990000;
width: 75.25%;
height: 200px;
float: right;
}

#bigbox table tr td img{
width: 125px;
height: 125px;
border-style: solid;
border-color: #000;
border-width: 1px;
}

table {
float: left;
margin-left: 100px;
margin-top: 25px;
}

#wrap #box3 #videowrap{
width: 100%;
float: left;
}
  
#wrap #box3 #videowrap .videobox{
background-color: #990000;
width: 100%;
height: 315px;
float: left;
}

iframe {
margin-left: 200px;
}

footer {
color: white;
text-align: center;
}



